
@{
    Layout = null;
}

<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/ltr/assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Movie Api Admin</h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="index.html">
                <div class="parent-icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="menu-title">Ana Sayfa</div>
            </a>
        </li>

        <li class="menu-label">İçerik Yönetimi</li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="film-outline"></ion-icon>
                </div>
                <div class="menu-title">Filmler</div>
            </a>
            <ul>
                <li>
                    <a href="movies-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Filmler
                    </a>
                </li>
                <li>
                    <a href="movies-add.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Film Ekle
                    </a>
                </li>
                <li>
                    <a href="movies-upcoming.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Yakında Gelenler
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="tv-outline"></ion-icon>
                </div>
                <div class="menu-title">Diziler</div>
            </a>
            <ul>
                <li>
                    <a href="series-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Diziler
                    </a>
                </li>
                <li>
                    <a href="series-add.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Dizi Ekle
                    </a>
                </li>
                <li>
                    <a href="series-seasons.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Sezon & Bölümler
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="categories.html">
                <div class="parent-icon">
                    <ion-icon name="pricetags-outline"></ion-icon>
                </div>
                <div class="menu-title">Kategoriler & Türler</div>
            </a>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <div class="menu-title">Oyuncular & Ekip</div>
            </a>
            <ul>
                <li>
                    <a href="actors-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Oyuncular
                    </a>
                </li>
                <li>
                    <a href="directors-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Yönetmenler
                    </a>
                </li>
                <li>
                    <a href="crew-add.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Ekip Ekle
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-label">Kullanıcı Etkileşimi</li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </div>
                <div class="menu-title">Yorumlar</div>
            </a>
            <ul>
                <li>
                    <a href="comments-all.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Yorumlar
                    </a>
                </li>
                <li>
                    <a href="comments-pending.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Onay Bekleyenler
                    </a>
                </li>
                <li>
                    <a href="comments-reported.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Raporlananlar
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="ratings.html">
                <div class="parent-icon">
                    <ion-icon name="star-outline"></ion-icon>
                </div>
                <div class="menu-title">Puanlamalar</div>
            </a>
        </li>

        <li>
            <a href="users.html">
                <div class="parent-icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Kullanıcılar</div>
            </a>
        </li>

        <li class="menu-label">AI & Analiz</li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="analytics-outline"></ion-icon>
                </div>
                <div class="menu-title">AI Analizler</div>
            </a>
            <ul>
                <li>
                    <a href="ai-recommendations.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Öneri Sistemi
                    </a>
                </li>
                <li>
                    <a href="ai-sentiment.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Duygu Analizi
                    </a>
                </li>
                <li>
                    <a href="ai-trends.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Trend Analizi
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="bar-chart-outline"></ion-icon>
                </div>
                <div class="menu-title">Raporlar</div>
            </a>
            <ul>
                <li>
                    <a href="reports-viewership.html">
                        <ion-icon name="ellipse-outline"></ion-icon>İzlenme Raporları
                    </a>
                </li>
                <li>
                    <a href="reports-engagement.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Etkileşim Raporları
                    </a>
                </li>
                <li>
                    <a href="reports-user-behavior.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Kullanıcı Davranışı
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-label">Ayarlar</li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
                <div class="menu-title">Genel Ayarlar</div>
            </a>
            <ul>
                <li>
                    <a href="settings-general.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Site Ayarları
                    </a>
                </li>
                <li>
                    <a href="settings-api.html">
                        <ion-icon name="ellipse-outline"></ion-icon>API Entegrasyonları
                    </a>
                </li>
                <li>
                    <a href="settings-email.html">
                        <ion-icon name="ellipse-outline"></ion-icon>E-posta Ayarları
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="profile.html">
                <div class="parent-icon">
                    <ion-icon name="create-outline"></ion-icon>
                </div>
                <div class="menu-title">Profil Düzenle</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</aside>