@model ResultSeriesDto


<div class="movie-rate">
    <div class="rate">
        <i class="ion-android-star"></i>
        <p>
            <span>@Model.Rating</span> /10<br>
            <span class="rv">56 Reviews</span>
        </p>
    </div>
    <div class="rate-star">
        <p>Rate This Movie:  </p>
        @for (int i = 1; i <= 10; i++)
        {
            if (i <= Model.Rating)
            {
                <i class="ion-ios-star"></i>       @* Dolu yıldız *@
            }
            else
            {
                <i class="ion-ios-star-outline"></i>  @* Boş yıldız *@
            }
        }
    </div>
</div>

